<form action="{{ path('sanctions:search') }}" method="post">
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="memberId">Identifiant du membre</span>
                </div>
                <input type="text" name="memberId" class="form-control" aria-label="Identifiant du membre" aria-describedby="memberId">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="moderatorId">Identifiant du modérateur</span>
                </div>
                <input type="text" name="moderatorId" class="form-control" aria-label="Identifiant du modérateur" aria-describedby="moderatorId">
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="reason">Raison</span>
                </div>
                <input type="text" name="reason" class="form-control" aria-label="Raison" aria-describedby="reason">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sanctionStatus">Statut de la sanction</span>
                </div>
                <select class="form-control" name="sanctionStatus" aria-label="sanctionStatus">
                    <option value=""></option>
                    <option value="false">En cours</option>
                    <option value="true">Terminée</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="afterDate">Appliquée après</span>
                </div>
                <input type="datetime-local" name="afterDate" class="form-control" aria-label="Appliquée après" aria-describedby="afterDate">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="beforeDate">Appliquée avant</span>
                </div>
                <input type="datetime-local" name="beforeDate" class="form-control" aria-label="Appliquée avant" aria-describedby="beforeDate">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sanctionType">Type de sanction</span>
                </div>
                <select class="form-control" name="sanctionType" aria-label="sanctionType">
                    <option value=""></option>
                    <option value="hardban">Hardban</option>
                    <option value="ban">Bannissement</option>
                    <option value="mute">Mute</option>
                    <option value="warn">Avertissement</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-block">Rechercher</button>
        </div>
    </div>
</form>
