{% extends 'layouts/panel.html.twig' %}

{% block title %}Rôles{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="card shadow position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Liste des rôles Discord</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for discordRole in discordRoles %}
                                <li class="list-group-item">{{ discordRole|roleBadge|raw }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card shadow position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Liste des rôles Swan Dashboard</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for symfonyRole in symfonyRoles %}
                                <li class="list-group-item">{{ symfonyRole[0] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
