{% extends 'knowledge/layout.html.twig' %}

{% block title %}Récentes modifications{% endblock %}
{% block content %}
    <div class="px-4 mx-4 py-5 border-b border-gray-200 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Récentes modifications</h3>
        <p class="mt-1 text-sm text-gray-500">Liste des récentes modifications proposées par la communauté</p>
    </div>
    <div class="mt-5 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Auteur</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Statut</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    abc
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    abc
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    abc
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-red-600">
                    Désactivé
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
