@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

.skmc-background {
    background-image: url('../images/pattern_transparent.png');
    background-size: 380px, contain;
    background-position: center bottom;
    justify-content: center;
}
