{% extends 'knowledge/layout.html.twig' %}

{% block title %}Nouvelle explication d'erreur{% endblock %}
{% block content %}
    <div class="flex-col md:flex-row px-4 py-5 border-b border-gray-200 sm:px-6">
        <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">Nouvelle explication d'erreur</h3>
            <p class="mt-1 text-sm text-gray-500">Bienvenue dans le formulaire de création d'une nouvelle explication
                d'erreur !</p>
        </div>
    </div>
    <div id="app" data-post-url="{{ path('knowledge_errorinfos_create') }}"
         data-success-url="{{ path('knowledge_errorinfos') }}"></div>
    {{ encore_entry_script_tags('editor') }}
    {{ encore_entry_link_tags('editor') }}
{% endblock %}
