{% extends 'layouts/panel.html.twig' %}

{% block title %}Tableau de bord{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Membres Discord
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ discordMembers }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Statistiques des commandes</h6>
                    </div>
                    <div class="card-body position-relative">
                        <canvas id="commandStatChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Autre statistiques</h6>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('chart.js') }}
    <script>
        const commandStats = document.getElementById('commandStatChart');
        const chartJS = window.chartJS;
        new chartJS(commandStats, {
            type: 'bar',
            data: {
                labels: {{ commandStats[0]|json_encode|raw }},
                datasets: [{
                    label: 'Nombre d\'utilisation',
                    backgroundColor: '#4e73df',
                    data: {{ commandStats[1]|json_encode|raw }}
                }]
            },
            options: {}
        });
    </script>
{% endblock %}
