{% extends 'layouts/app.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block content %}
    <div class="p-5">
        <div class="text-center">
            <div class="d-flex justify-content-center">
                <div class="sidebar-brand-icon">
                    <img src="{{ asset('build/images/swan-logo.png') }}" alt="Logo de Swan">
                </div>
                <h1 class="h4 text-gray-900 mb-3 ms-2">Swan</h1>
            </div>

            <p>Merci de vous authentifier avec votre compte Discord afin d'accéder au panel de Swan.</p>
        </div>

        <div class="d-grid gap-2">
            <a href="{{ path('login') }}" class="btn btn-welcome btn-block"><i class="fab fa-discord fa-fw mt-0"></i> Connexion avec Discord</a>
        </div>
    </div>
{% endblock %}
