{% extends 'layouts/panel.html.twig' %}

{% block title %}Historique{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'history/partials/navbar.html.twig' %}
            <div class="col-sm-9">
                <div class="card shadow position-relative mb-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Bienvenue !</h6>
                    </div>
                    <div class="card-body">
                        Bienvenue, choisissez votre salon dans la liste des salons sur la gauche.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
