{% if badge == 'hardban' %}
    <span class="badge mr-1 ml-1 badge-pill badge-dark">Bannissement Discord</span>
{% elseif badge == 'ban' %}
    <span class="badge mr-1 ml-1 badge-pill text-white" style="background-color: #cc3300;">Bannissement</span>
{% elseif badge == 'mute' %}
    <span class="badge mr-1 ml-1 badge-pill text-white" style="background-color: #8100eb;">Mute</span>
{% elseif badge == 'warn' %}
    <span class="badge mr-1 ml-1 badge-pill badge-warning">Avertissement</span>
{% elseif badge == 'kick' %}
    <span class="badge mr-1 ml-1 badge-pill text-white" style="background-color: #ff6b61;">Kick</span>
{% endif %}
