{% extends 'layouts/app.html.twig' %}

{% block title %}Erreur interne{% endblock %}
{% block content %}
    <div class="p-5">
        <div class="text-center">
            <a class="sidebar-brand d-flex justify-content-center">
                <h1 class="h4 text-gray-900 mb-3 ms-2">Quelque chose s'est mal passé</h1>
            </a>
            <p>
                On dirait que quelque chose est cassé. Ne vous inquiétez pas, nous avons déjà été informé du problème que nous essaierons de résoudre le plus rapidement.
            </p>
        </div>
        <a href="{{ path('home') }}" class="btn btn-facebook btn-block"><i class="fas fa-long-arrow-alt-left"></i> Retour à l'accueil</a>
    </div>
{% endblock %}
