{% extends 'layouts/app.html.twig' %}

{% block title %}Ressource introuvable{% endblock %}
{% block content %}
    <div class="p-5">
        <div class="text-center">
            <a class="sidebar-brand d-flex justify-content-center">
                <h1 class="h4 text-gray-900 mb-3 ms-2">Ressource introuvable</h1>
            </a>
            <p>
                Nous avons cherché partout, mais nous ne trouvons pas la ressource à laquelle vous souhaitez accéder.
            </p>
        </div>
        <a href="{{ path('home') }}" class="btn btn-facebook btn-block"><i class="fas fa-long-arrow-alt-left"></i> Retour à l'accueil</a>
    </div>
{% endblock %}
